

/*carnet A*/

#carouselA{
    position: absolute;
    width: 1920px;
    height: 1920px;

    /*border: solid 1px black;*/
    overflow-x: hidden;
    margin: 0;
    transform-origin: top left ;
    
    
    
}

#carouselContainerA{
    z-index: -10;
    position: relative;

    min-height: 1396px;
}



.bouton{
    width: 35px;
    cursor: pointer;
    top : 10px
}

#lA{
    left : 0;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

#rA{
    right: 0;
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

#lA:hover{
    transform: rotate(0deg) scale(1.1);
    opacity: 1;
    transition: all 0.3s ease;
}

#rA:hover{
    transform: rotate(180deg) scale(1.1);
    opacity: 1; 
    transition: all 0.3s ease;
}

.carouselPhotoA{
    /* display: block; */
    display: inline-block;
    /* transform: rotate(-90deg); */
    width: 1920px;
    height: 1396px;


    


    
}


.slider{
    min-width: 100%;
}




/* téléphone */

@media screen and (max-width: 480px) {

    :root{
        --w-carousel:1920px;
    }

    #carnetContainerA{
        
        transform-origin: top left; 
        transform: translateY(80dvh)  rotate(-90deg)  scale(calc(1920/1396));
    }

    #lA{

        transform: rotate(-90deg);

    }
    
    #rA{

        transform: rotate(90deg);

    }

    #lA:hover{
        transform: rotate(-90deg) scale(1.1);
    }
    
    #rA:hover{
        transform: rotate(90deg) scale(1.1);
    }

}